<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1767213d-e847-401a-87c0-f2a98605ff13/resourcegroups/rate-my-recipe-api/providers/Microsoft.Web/sites/rate-my-recipe-api</ResourceId>
    <ResourceGroup>rate-my-recipe-api</ResourceGroup>
    <ApiResourceId>/subscriptions/1767213d-e847-401a-87c0-f2a98605ff13/resourceGroups/rate-my-recipe-api/providers/Microsoft.ApiManagement/service/rate-my-recipe-api/apis/rate-my-recipe-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rate-my-recipe-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e9cf0678-feef-42b0-b10d-477ec23bdc38</ProjectGuid>
    <MSDeployServiceURL>rate-my-recipe-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rate-my-recipe-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$rate-my-recipe-api</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>